body {
	margin: 0;  
	background-image: url(../images/bg-login-top.png);
	background-repeat: repeat;  
}

.top {

	height: 20em;   
	padding: 0 22em 1em 22em;  	
 
}

img {
		padding: 14em 10em 2em 10em;  
}



.bottom {
	background-image: url(../images/bg-login.png);
	background-repeat: repeat;
	height: 25em;  
}

.login {
	padding-top: 1em;  
	width:18em;   
	margin: 0 auto; 
}
	

.user {
	color: #FFF;
	font-size: .75em;   
	display:inline; 
	
}
	
.pw {
	color: #FFF;
	font-size: .75em;
	display:inline;  
	margin-top: .50em; 
}


.userName {
	width: 12em; 
	border-radius: .3em;   
	height: 1.25em;  
	margin-left:1em;  
	
}	


.password {
	width: 12em;
	border-radius: .3em;   
	height: 1.25em;    
	margin-top: .75em;  
	margin-left: 1em;   
}

button {
	
	background-color: #70AE21;
	margin-top: .25em;   
	float:right;   
	margin-top: .75em;
	color: #FFF;  
	border-radius: .3em;  
}











